{ "channel": { "action": { "post": { "add": { "author": "{{ship}}", "content": [ {% for type in types %} {% set typeloop = loop %} { "block": { "header": { "content": [ "{{type}}" ], "tag": "h1" } } }, {% for result in results | selectattr("type", "equalto", type) %} { "block": { "header": { "content": [ "{{result.area}}" ], "tag": "h2" } } }, { "inline": [ {{result.summary|tojson}}, { "break": null }, { "link": { "content": "Link a artículo completo", "href": "{{result.url}}" } }, { "break": null } ] }{% if not typeloop.last or not loop.last %},{% endif %} {% endfor %} {% endfor %} ], "kind-data": { "diary": { "image": "https://s3.escaping.network/borges/dibref-labter/2023.12.20..15.48.3..eb85.1eb8.51eb.851e-2023.12.20..15.46.47..ec8b.4395.8106.24dd-image.png", "title": "Boletín {{today}}" } }, "sent": {{time}} } } }, "nest": "{{nest}}" } }